/* Banner section */

.bannerSection {
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 10px;
}

.pageTitle {
    width: 100%;
    margin: 0;
}

.todaysDate {
    margin: 0;
    width: 100vw;
    display: flex;
}

.todaysTime {
    margin: 0;
    width: 30vw;
}

/* Time block section */

/* individual blocks of text & time */
.timeBlocks {
    display: flex;
    justify-content: space-between;
    margin: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* time properties */
.blockTime {
    width: 10vw;
    margin-left: 2px;
}

/* text properties */
.blockText {
    height: 2.5vh;
    width: 70vw;
}

/* checkbox */
.checkBox {
    text-align: right;
}